/* Auth Styles */
ul.access-buttons{
	margin: 0;
	padding-right: 1rem;
}
.auth-container {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 999; /* Ensure it's on top of other elements */
}

.auth-buttons {
	color: var(--white); 
	background-color: var(--logoText); 
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.ed-user-container {
	display: flex; 
	align-items: center; 
}

.logged-user {
	display: flex;
	align-items: center;
	top: 10px;
	right: 10px;
	padding: 1rem 10rem;
	color: var(--logoText); 
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}

.logged-user a {
	color: var(--logoText); 
	text-decoration: none;
}

.access-buttons {
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0 2rem;
	position: relative;
	margin-top: 2rem;
}

.auth-buttons:hover {
	background-color: #00acee; 
}

@media screen and (max-width: 600px) {

	.logged-user {
		padding: 0.5rem 0.5rem 0 0  ;
	}

	.logged-as{
		padding: 1rem;
	}

	.loggout-button{
		margin: 0 2rem 4rem 0;
	}

}

@media screen and (min-width: 600px) {

	.logged-user {
		padding: 0.5rem 4rem 0 0  ;
	}

	.logged-as{
		padding: 1rem;
	}

	.loggout-button{
		margin: 0 2rem 1rem 0;
	}

}