/*MyLinks.css*/

.user-link{
    display: flex;
    flex-direction: column;
    list-style: none;
}

@media screen and (min-width: 600px) {

	/* Media query to move the header logo 4rem to the right */
	.user-link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 8rem;
	}

    .user-title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4rem;

    }
}
