/* PasswordRecoveryPage CSS */

/* General section styles */
.password-recovery-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.form-label {
  display: flex;
  flex-direction: column;
}

/* Heading styles */
.password-recovery-page h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #1da1f2; 
}

/* Paragraph justification style */
.password-recovery-page p {
  text-align: justify; 
  margin-top: 10px;
  color: #333; 
}

/* Form styles */
.password-recovery-page form {
  width: 100%;
  max-width: 400px;
}

.password-recovery-page fieldset {
  margin-bottom: 20px;
  border: none;
}

.change-password-label {
  display: none;
}

.recovery-input{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #1da1f2; 
    border-radius: 4px;
    background-color: #f5f8fa;
    color: #1da1f2; 
    font-style: none;
  }

/* Button hover effect */
.password-recovery-page button:hover {
  background-color: #0c8de8;
}

/* Less prominent button style */
.password-recovery-page button.less-prominent-button {
  background-color: #ccc; 
  color: #333; 
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

/* Less prominent button hover effect */
.password-recovery-page button.less-prominent-button:hover {
  background-color: #aaa; 
}

/* Error message style */
.password-recovery-page p.error-message {
  color: #ff0000; 
  margin-top: 10px;
}

/* Message style */
.password-recovery-page p.message {
  margin-top: 10px;
  color: #333; 
}
